In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import requests
from bs4 import BeautifulSoup
import time
from pandas import Series
import os
import re

In [5]:
os.chdir('C:\Python\Python36-32\examples\house\scrapData\Taipei\done')

In [6]:
data = []
for root, dirs, files in os.walk(".", topdown=False):
    for name in files:
#         print(os.path.join(root, name))
#         fullname = os.path.join(root, name)
#         data.append(fullname)
        data.append(name)

In [51]:
data

['hou_100_done.csv',
 'hou_103_done.csv',
 'hou_104_done.csv',
 'hou_105_done.csv',
 'hou_106_done.csv',
 'hou_108_done.csv',
 'hou_110_done.csv',
 'hou_111_done.csv',
 'hou_112_done.csv',
 'hou_114_done.csv',
 'hou_115_done.csv',
 'hou_116_done.csv']

In [9]:
df = pd.read_csv(data[0])

In [10]:
df.head()

,Time,Address,Type,unit_price,house_area,land_area,house_age,special,car_place,neighbor,mrt,floor,floor_sum,lat,long,vil,geo
0,107-03,台北市中正區仁愛路一段31號,電梯大樓,758000,57.88,7.79,19.5,None,含車位,無社區,近捷運,2.0,16.0,25.038824,121.523301,東門里,250312152.0
1,107-03,台北市中正區寧波東街9巷1號,華廈,925000,12.43,2.16,28.2,None,無車位,無社區,近捷運,4.0,7.0,25.032753,121.520003,新營里,250312152.0
2,107-03,台北市中正區臨沂街29巷1號,華廈,913000,41.58,9.34,25.2,None,含車位,有社區,近捷運,4.0,6.0,25.040229,121.530047,幸市里,250412153.0
3,107-03,台北市中正區新生南路一段140巷10弄1號,無電梯公寓,481000,18.30,6.13,51.1,None,無車位,無社區,近捷運,2.0,4.0,25.035993,121.531976,三愛里,250312153.0
4,107-03,台北市中正區臨沂街29巷1號,華廈,856000,50.50,11.73,25.2,None,含車位,有社區,近捷運,5.0,6.0,25.040229,121.530047,幸市里,250412153.0

In [11]:
def kind(x):
    if x=='None':
        return '無'
    elif x=='addedEstablishment':
        return '含增建或未登記建物'
    elif x=='expropriation':
        return '徵收用地'
    elif x=='relaTrade':
        return '特殊關係間之交易'
    elif x=='buyFromgov':
        return  '向政府機關承購'
    elif x=='notDecorated':
        return '毛胚屋'
    elif x=='allignConstruct':
        return '建商與地主合建'  
    elif x=='else':
        return '其他'
    elif x=='preSale':
        return '預售屋'  
def age(x):
    if x <= 5:
        return '5年以下'
    elif x > 5 and x <= 10:
        return '5~10年'
    elif x > 10 and x <= 15:
        return '10~15年'
    elif x > 15 and x <= 20:
        return '15~20年'
    elif x > 20 and x <= 25:
        return '20~25年'
    elif x > 25 and x <= 30:
        return '25~30年'
    elif x > 30 and x <= 35:
        return '30~35年'
    elif x > 35 and x <= 40:
        return '35~40年'
    elif x > 40:
        return '40年以上'
def transform(df):
    df['district'] = df['Address'].apply(lambda x:x[3:6])
    df['Address'] = df['Address'].apply(lambda x:x[6:])
    df.drop('geo',axis=1,inplace=True)
    df['floor'] = df['floor'].apply(lambda x:int(x))
    df['floor_sum'] = df['floor_sum'].apply(lambda x:int(x))
    df.drop('mrt',axis=1,inplace=True)
    df['special'] = df['special'].apply(kind)
    df['house_age'] = df['house_age'].apply(age)
    df = df[['Time', 'district', 'vil', 'Address', 'lat', 'long', 'Type', 'unit_price', 
            'house_age', 'special', 'house_area', 'land_area', 'car_place', 'neighbor', 'floor', 'floor_sum']]
    df.columns = ['dealTime', 'district', 'vil', 'address', 'lat', 'long', 'houseType', 'unitPrice', 
                  'houseAge', 'special', 'houseAarea', 'landArea', 'carPlace', 'neighbor', 'floor', 'floorSum']
    return df
df = transform(df)

In [13]:
for name in data:
    print(name)
    df = pd.read_csv(name)
    df = transform(df)
#     if keyStatus == 0:
#         break
    df.to_csv(name, index=False)

hou_100_done.csv
hou_103_done.csv
hou_104_done.csv
hou_105_done.csv
hou_106_done.csv
hou_108_done.csv
hou_110_done.csv
hou_111_done.csv
hou_112_done.csv
hou_114_done.csv
hou_115_done.csv
hou_116_done.csv

In [52]:
def adjust(df):
    df.columns = ['dealTime', 'district', 'vil', 'address', 'latitude', 'longitude', 'houseType', 'unitPrice', 
                  'houseAge', 'special', 'houseArea', 'landArea', 'carPlace', 'neighbor', 'floor', 'floorSum']
    return df

In [53]:
for name in data:
    print(name)
    df = pd.read_csv(name)
    df = adjust(df)
#     if keyStatus == 0:
#         break
    df.to_csv(name, index=False)

hou_100_done.csv
hou_103_done.csv
hou_104_done.csv
hou_105_done.csv
hou_106_done.csv
hou_108_done.csv
hou_110_done.csv
hou_111_done.csv
hou_112_done.csv
hou_114_done.csv
hou_115_done.csv
hou_116_done.csv

In [15]:
df.head()

,dealTime,district,vil,address,lat,long,houseType,unitPrice,houseAge,special,houseAarea,landArea,carPlace,neighbor,floor,floorSum
0,107-03,文山區,指南里,指南路三段14巷13弄1號,24.985111,121.580118,華廈,454000,5年以下,無,40.62,7.67,含車位,無社區,3,7
1,107-03,文山區,興豐里,興隆路二段61巷1號,24.999052,121.545540,電梯大樓,636000,5~10年,無,52.84,8.46,含車位,有社區,7,11
2,107-03,文山區,景東里,景興路211號,24.991625,121.544005,多層樓組合,555000,20~25年,無,65.79,5.24,含車位,無社區,15,16
3,107-03,文山區,木新里,保儀路61號,24.987196,121.568693,電梯大樓,623000,5年以下,無,88.62,6.72,含車位,有社區,22,24
4,107-03,文山區,興業里,興隆路二段154巷1號,25.001020,121.551631,華廈,464000,35~40年,無,33.42,3.84,無車位,無社區,9,10

In [37]:
import pymysql
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, ForeignKey

In [16]:
test = df.head()

In [47]:
test

,dealTime,district,vil,address,latitude,longitude,houseType,unitPrice,houseAge,special,houseAarea,landArea,carPlace,neighbor,floor,floorSum
0,107-03,文山區,指南里,指南路三段14巷13弄1號,24.985111,121.580118,華廈,454000,5年以下,無,40.62,7.67,含車位,無社區,3,7
1,107-03,文山區,興豐里,興隆路二段61巷1號,24.999052,121.545540,電梯大樓,636000,5~10年,無,52.84,8.46,含車位,有社區,7,11
2,107-03,文山區,景東里,景興路211號,24.991625,121.544005,多層樓組合,555000,20~25年,無,65.79,5.24,含車位,無社區,15,16
3,107-03,文山區,木新里,保儀路61號,24.987196,121.568693,電梯大樓,623000,5年以下,無,88.62,6.72,含車位,有社區,22,24
4,107-03,文山區,興業里,興隆路二段154巷1號,25.001020,121.551631,華廈,464000,35~40年,無,33.42,3.84,無車位,無社區,9,10

In [49]:
test.columns = ['dealTime', 'district', 'vil', 'address', 'latitude', 'longitude', 'houseType',
       'unitPrice', 'houseAge', 'special', 'houseArea', 'landArea',
       'carPlace', 'neighbor', 'floor', 'floorSum']

In [36]:
db = pymysql.connect("localhost","root","jack0705","db03", charset='utf8')
cursor = db.cursor()
sql = """CREATE TABLE pdsql (
        dealTime VARCHAR(10) NOT NULL,
        district VARCHAR(10) NOT NULL,
        vil VARCHAR(10) NOT NULL,
        address VARCHAR(40) NOT NULL,
        latitude DOUBLE NOT NULL,
        longitude DOUBLE NOT NULL,
        houseType VARCHAR(10) NOT NULL,
        unitPrice MEDIUMINT NOT NULL,
        houseAge VARCHAR(10) NOT NULL,
        special VARCHAR(20) NOT NULL,
        houseArea FLOAT NOT NULL,
        landArea FLOAT NOT NULL,
        carPlace VARCHAR(10) NOT NULL,
        neighbor VARCHAR(10) NOT NULL,
        floor TINYINT NOT NULL,
        floorSum TINYINT NOT NULL
        )"""
cursor.execute(sql)

0

In [35]:
db = pymysql.connect("localhost","root","jack0705","db03", charset='utf8')
cursor = db.cursor()
sql = """drop table pdsql
        """
cursor.execute(sql)

0

In [33]:
test.to_sql(name='pdsql', con=db, if_exists='append', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [38]:
db = pymysql.connect("localhost","root","jack0705","db03", charset='utf8')
sql = "select * from 台北市中正區 where Address like '%八德路%'"
listen = pd.read_sql(sql, db)

In [39]:
listen

,tradeTime,Address,houseType,unit_price,house_area,land_area,house_age,special,car_place,neighbor,mrt,floor,floor_sum,latitude,longitude,vil,geo
0,106年05月,台北市中正區八德路一段43巷1號,無電梯公寓,853000,28.15,7.86,44.7,None,無車位,無社區,近捷運,4,4,25.045016,121.531790,梅花里,250412153
1,106年02月,台北市中正區八德路一段1號,辦公商業大樓,750000,291.03,30.75,22.9,else,含車位,無社區,近捷運,2,16,25.044150,121.529441,梅花里,250412152
2,106年01月,台北市中正區八德路一段1號,辦公商業大樓,600000,292.85,30.75,22.8,None,含車位,無社區,近捷運,3,16,25.044150,121.529441,梅花里,250412152

In [43]:
from sqlalchemy import create_engine
engine = create_engine('mysql://root:jack0705@localhost:3306/db03?charset=utf8', echo=False)
# db = pymysql.connect("localhost","root","jack0705","db03", charset='utf8')

In [44]:
engine = create_engine('mysql://root:jack0705@localhost:3306/db03?charset=utf8', echo=False)
test.to_sql(name='test', con=engine, if_exists='append', index=False)

c:\python\python36-32\lib\site-packages\sqlalchemy\engine\default.py:507: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 481")
  cursor.execute(statement, parameters)

In [50]:
test.to_sql(name='pdsql', con=engine, if_exists='append', index=False)

In [54]:
t = 'hou_100_done.csv'

In [57]:
t[:-9]

'hou_100'

In [58]:
db = pymysql.connect("localhost","root","jack0705","db03", charset='utf8')
cursor = db.cursor()
sql = """CREATE TABLE t (
    ID int NOT NULL AUTO_INCREMENT,
    dealTime VARCHAR(10),
    district VARCHAR(10),
    vil VARCHAR(10),
    address VARCHAR(40) NOT NULL,
    latitude DOUBLE NOT NULL,
    longitude DOUBLE NOT NULL,
    houseType VARCHAR(10),
    unitPrice MEDIUMINT,
    houseAge VARCHAR(10),
    special VARCHAR(20),
    houseArea FLOAT,
    landArea FLOAT,
    carPlace VARCHAR(10),
    neighbor VARCHAR(10),
    floor TINYINT,
    floorSum TINYINT,
    PRIMARY KEY (ID)
    )"""
cursor.execute(sql)

0

In [59]:
engine = create_engine('mysql://root:jack0705@localhost:3306/db03?charset=utf8', echo=False)
test.to_sql(name='t', con=engine, if_exists='append', index=False)

c:\python\python36-32\lib\site-packages\sqlalchemy\engine\default.py:507: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 481")
  cursor.execute(statement, parameters)

In [61]:
engine = create_engine('mysql://root:jack0705@localhost:3306/db03?charset=utf8', echo=False)
for name in data:
    print(name)
    df = pd.read_csv(name)
    db = pymysql.connect("localhost","root","jack0705","db03", charset='utf8')
    cursor = db.cursor()
    sql = """CREATE TABLE %s (
        houseId int NOT NULL AUTO_INCREMENT,
        dealTime VARCHAR(10),
        district VARCHAR(10),
        vil VARCHAR(10),
        address VARCHAR(40) NOT NULL,
        latitude DOUBLE NOT NULL,
        longitude DOUBLE NOT NULL,
        houseType VARCHAR(10),
        unitPrice MEDIUMINT,
        houseAge VARCHAR(10),
        special VARCHAR(20),
        houseArea FLOAT,
        landArea FLOAT,
        carPlace VARCHAR(10),
        neighbor VARCHAR(10),
        floor TINYINT,
        floorSum TINYINT,
        PRIMARY KEY (houseId)
        )""" % name[:-9]
    cursor.execute(sql)
    df.to_sql(name=name[:-9], con=engine, if_exists='append', index=False) 
    print(name[:-9] + ' done')

hou_100_done.csv

c:\python\python36-32\lib\site-packages\sqlalchemy\engine\default.py:507: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 481")
  cursor.execute(statement, parameters)

hou_100 done
hou_103_done.csv
hou_103 done
hou_104_done.csv
hou_104 done
hou_105_done.csv
hou_105 done
hou_106_done.csv
hou_106 done
hou_108_done.csv
hou_108 done
hou_110_done.csv
hou_110 done
hou_111_done.csv
hou_111 done
hou_112_done.csv
hou_112 done
hou_114_done.csv
hou_114 done
hou_115_done.csv
hou_115 done
hou_116_done.csv
hou_116 done